<div class= "row">
  <div class="large-3 columns">

    <div class= "white">



      <% @catarticles.each do |article| %>
          <ul>
            <li><%= raw article.title %></li>
          </ul>

      <% end %>
      </table>

      <br />


    </div>
  </div>
  <div class="large-9 columns">

    <div class= "white">

        <%=raw  @article.body %>


    </div>
  </div>
</div>
