<% @title="Home1"%>
<div class= "row">
  <div class="large-12 columns">
      <iframe width="970" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.gr/?ie=UTF8&amp;t=m&amp;ll=37.081476,23.505249&amp;spn=1.314687,5.383301&amp;z=8&amp;output=embed"></iframe><br /><small><a href="https://maps.google.gr/?ie=UTF8&amp;t=m&amp;ll=37.081476,23.505249&amp;spn=1.314687,5.383301&amp;z=8&amp;source=embed" style="color:#0000FF;text-align:left">Προβολή μεγαλύτερου χάρτη</a></small>  </div>
  <div class= "row">

  <div class="large-6 columns">
    <form>
      <fieldset>
        <legend>Φόρμα Επικοινωνίας</legend>

        <div class="row">
          <div class="large-12 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-12.columns">
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns">
          </div>
          <div class="large-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns">
          </div>
          <div class="large-4 columns">
            <div class="row collapse">
              <label>Input Label</label>
              <div class="small-9 columns">
                <input type="text" placeholder="small-9.columns">
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label>Textarea Label</label>
            <textarea placeholder="small-12.columns"></textarea>
          </div>
        </div>
        <a href="#" class="tiny button">Αποστολή</a>

      </fieldset>
    </form>
    </div>
    <div class="large-6 columns">
      kdfdosfmdsiofn;c
    </div>
</div>
  </div>
