
<div class= "row">
  <div class="large-3 columns">

    <div class= "white">



  <% @article.each do |article| %>
        <ul>
        <li><%= article.title %></li>
        </ul>

  <% end %>
</table>

<br />


 </div>
  </div>

  <div class="large-9 columns">
    <div class= "white">


    </div>
    </div>
    </div>
