<% content_for :title,  t('private') %>

<div class= "row">

  <% @category.articles.each do |article| %>
      <div class="large-6 columns">

        <div class= "whiteservice">

          <ul class="side-nav">
            <%=raw link_to article.title, article %>
          </ul>
        </div>
      </div>

  <% end %>





</div>


